$font-family-sans: Arial, Helvetica, Sans-Serif;
$font-size-base: 14px;
$mobile-font-size-base: 10px;
$line-height-base: 22px;
$mobile-line-height-base: 18px;

$font-size-xlarge: 32px;
$mobile-font-size-xlarge: 28px;
$font-size-large: 24px;
$mobile-font-size-large: 20px;
$font-size-medium: 18px;
$mobile-font-size-medium: 14px;

$font-size-small: 16px;
$mobile-font-size-small: 10px;
$font-size-mini: 12px;
$mobile-font-size-mini: 8px;

body {
  font-family: $font-family-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $main_dark;
}

h1 {
  font-size: $font-size-xlarge;
}
a {
  color: $light_blue;
}
p {
  font-family: $font-family-sans;
  color: $main_light;
}
